:root {
  --primary-color: #7c8698;
  --secondary-color: #ffba67;
  --tertiary-color: #e09f95;
  --fourth-color: #c4caaf;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#hero-banner {
  background-image: url("images/top-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  background-position: center;
  opacity: 0.6;
  background-color: var(--fourth-color);
}

.text-container {
  margin: 0 15% 10% 15%;
  padding-top: 80px;

  color: white;
}

.page-content {
  padding: 40px 10%;
}

h1 {
  font-size: 48px;
  font-family: "Archivo", sans-serif;
  font-family: "Libre Baskerville", serif;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
  opacity: 0.7;
  color: var(--primary-color);
  font-family: "Archivo", sans-serif;
  font-family: "Libre Baskerville", serif;
}

p {
  margin-top: 25px;
  color: var(--primary-color);
  font-weight: 200;
}

.category-tile {
  border-radius: 15px;
  padding: 18px 20px;
  color: white;
  font-weight: 150;
  font-size: larger;
  text-decoration: none;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

.category-tile:hover {
  font-weight: bold;
  color: white;
  transition: 0.2s;
}

.navigation-links {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px 10px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.row {
  margin: 30px 0;
}

.white-bg {
  background: white;
  text-align: left;
  padding: 0;
}

.purple-btn-bg {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border: none;
}

.purple-btn-bg:hover {
  background: var(--primary-color);
  color: #0d6efd;
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
  }

  body,
  p,
  .white-bg {
    text-align: center;
  }

  .hp-img {
    display: none;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .navigation-links {
    margin-top: 20px;
  }

  .mobile-p-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .category-tile {
    border-radius: 15px;
    padding: 15px 20px;
    color: white;
    font-weight: 150;
    font-size: larger;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px;
  }

  .footer h2 {
    font-size: 36px;
  }

  #footer-cta {
    background: blue;
  }
}

.footer {
  border-color: #b2b8c3;
  border-style: solid;
  border-radius: 15px;
  margin: 15px;
}

.footer-content {
  padding: 0px 80px;
}

#footer-cta-container {
  margin: auto;
  text-align: center;
}

.footer-cta {
  background-color: #b2b8c3;
  padding: 8% 16%;
}

.footer-cta:hover {
  color: white;
  background: black;
}

.recipe-img {
  height: 300px;
}

.recipe-cta {
  text-decoration: none;
  color: black;
}

.recipe-cta:hover {
  text-decoration: underline;
  color: black;
}

.clickable-img {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.clickable-img:hover .image {
  opacity: 0.3;
}

.clickable-img:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
